p {
    margin-bottom: 0;    
}

button {
    border-radius: 100px;
}

br {
    margin: 1cm;
}

.container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: white;
}

.title {
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.x {
    padding: 5px;
    background-color: #dc3545;
    color: white;
    border: none; 
    cursor: pointer 
}
.agregar{
    padding: 10px;  
    background-color: #28a745;  
    color: white;  
    border: none;  
    cursor: pointer
}

.evaluar{
    padding: 10px; 
    background-color: #007bff; 
    color: white; 
    border: none; 
    cursor: pointer
}

.entradas{
    display: flex; 
    align-items: center;
    gap: 10px
}